@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
  user-select: none;
  -webkit-touch-callout: none;
  backface-visibility: hidden;
}

/* .swiper-slide {
  width: auto !important;
} */

/* Custom Styled Scrollbar  */

::-webkit-scrollbar {
  width: 0.4em;
  background: rgb(40, 42, 46);
}

::-webkit-scrollbar-track {
  background: rgb(212, 210, 210);
  /* border-radius: 100vw; */
  margin-top: 0em;
  margin-bottom: 0em;
}

::-webkit-scrollbar-thumb {
  background: rgb(24, 181, 243);
  /* border-radius: 100vw; */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 132, 184);
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: rgb(38, 194, 255) rgb(40, 42, 46);
    scrollbar-width: thin;
  }
}
